h1 {
  color: var(--white);
}

a, h2 {
  color: var(--text);
}

p {
  color: var(--text);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#links a:nth-child(2) {
  border-bottom: 0.5px solid var(--text);
}

.project-card {
  background-color: var(--bg-card);
  margin: 0 auto;
  height: auto;
  padding: 25px;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--card-border);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  transition: transform 200ms ease;
}

.language {
  color: black;
  background: var(--textdark);
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 0.3em;
  padding: 4px 14px 4px 14px;
}

@media only screen and (max-width: 600px) {
  main {
      margin: 10% 5% 20% 5%;
  }

  #title {
      font-size: 1.6em;
      font-style: italic;
  }

  .project-card-container {
      margin-top: 40px;
  }

  .project-card.onlineshopping {
    z-index: 6;
  }

  .project-card.spotifyvisualizer {
      margin-top: -3px;
      z-index: 5;
  }

  .project-card.weatheroutfitter {
      margin-top: -6px;
      z-index: 4;
  }

  .project-card.personalweb {
      margin-top: -9px;
      z-index: 3;
  }

  .project-card.startupweb {
      margin-top: -12px; 
      z-index: 2;
  }

  .project-card:hover {
      z-index: 10;
      transform: scale(1.02);
      transition-property: transform;
  }

  .project-card a {
      color: var(--text);
      font-size: 1em;
  }

  .project-card p {
      font-size: 0.8em;
  }

  .language {
      font-size: 0.8em;
  }
}

@media only screen and (min-width: 601px) {
  main {
      margin: 2% 15% 5% 15%;
  }

  #title {
      font-size: 2.3em;
      font-style: italic;
  }

  .project-card-container {
      margin-top: 40px;
  }

  .project-card.onlineshopping {
    z-index: 6;
  }
  .project-card.spotifyvisualizer {
      z-index: 5;
      margin-top: -3px;
  }
  
  .project-card.weatheroutfitter {
      z-index: 4;
      margin-top: -6px;
  }

  .project-card.personalweb {
      margin-top: -9px;
      z-index: 3;
  }

  .project-card.startupweb {
      margin-top: -12px; 
      z-index: 2;
  }

  .project-card:hover {
      z-index: 10;
      transform: scale(1.02);
      transition-property: transform;
  }

  .project-card a {
      color: var(--text);
      font-size: 1.2em;
  }

  .project-card p {
      font-size: 1em;
  }

  .language {
      font-size: 0.9em;
  }
}